#app, .taro_router,
.taro_page {
  display: flex;
  min-height: 100%;
  min-width: 100%;
}

@font-face {
  font-family: 'iconfont';  /* project id 1105162 */
  src: url('//at.alicdn.com/t/font_1105162_px4w305xu6o.eot');
  src: url('//at.alicdn.com/t/font_1105162_px4w305xu6o.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1105162_px4w305xu6o.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1105162_px4w305xu6o.woff') format('woff'),
  url('//at.alicdn.com/t/font_1105162_px4w305xu6o.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1105162_px4w305xu6o.svg#iconfont') format('svg');
}
