#app, .taro_router,
.taro_page {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  font-family: PingFangSC-Regular, serif;
  overflow: hidden;
}

html, body {
  overflow: hidden;
  height: 100%;
}

.taro__toast div {
  position: absolute !important;
  touch-action: none;
}
