.container {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.firstCategory {
  width: 174px;
  background-color: #F8F8F8;
  height: calc(100vh - 90px);
  padding-bottom: 90px;
  overflow: hidden;

  .categoryBox {
    height: 94px;
    line-height: 94px;
    text-align: center;
    overflow-y: hidden;
  }
}
