.flexContainer { //FLEX容器，最高容器
  width: 100%;
  display: flex;
  background-color: white; //此颜色一般跟content中的背景色一致
  font-size: 26px;

  .scrollArea { //滚动条出现的区域，此处为全屏(淘宝京东这些滚动条都是全屏)
    position: relative;
    width: 100%;

    .fixedHeader { //头部固定
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
      width: 100%;
      height: 90px;
      background-color: #ffa270;
      padding: 0 30px;
      display: flex;
      align-items: center;
    }

    .content { //内容区域，即实际滚动区域
      padding-top: 90px;
      padding-bottom: 90px;
      background-color: white;
    }

    .toolBar { //底部工具条，也即tabBar
      box-sizing: border-box;
      display: flex;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 90px;
      z-index: 1001;
      background-color: #ff21e9;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #f8f8f8;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
    }
  }
}
