.container {
  //font-size: 70px;

  .spikeBox {
    margin-top: 25px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    .spikeFirstRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .spikeRowLeft {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .spikeJd {
          font-family: PingFangSC-Semibold, serif;
          font-size: 32px;
          color: #CF2E2E;
          letter-spacing: 0;
        }

        .spikeClock {
          margin-left: 14px;
          font-family: PingFangSC-Semibold, serif;
          font-size: 24px;
          color: #27272A;
          letter-spacing: 0;
        }

        .spikeCountDown {
          margin-left: 5px;
          display: flex;
          flex-direction: row;
          font-family: PingFangSC-Semibold, serif;
          font-size: 24px;
          color: #27272A;

          .spikeCountDownText {
            border: 1px solid #eeeeee;
            letter-spacing: 3px;
            margin: 0 5px;
          }
        }
      }
    }

    .spikeSecendRow {
      display: flex;
      flex-direction: row;
      align-items: center;

      .spikeRowLeft {
        font-family: PingFangSC-Semibold, serif;
        font-size: 24px;
        color: #D13333;
        letter-spacing: 0;
        margin-right: 10px;
      }
    }

    .spikeScroll {
      overflow: hidden;

      .goodsList {
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        list-style: none;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        /*纵向超出部分将会隐藏，即滚动条部分被挤出可视区域*/
        padding-bottom: 25px;
        margin-bottom: -15px;
      }
    }
  }

  .courtyard{
    margin-top: 39px;
    .titleImg{
      height: 90px;
    }
  }

  .newUserOwnBox {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-evenly;
  }

  .categoryBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .categoryItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;
      margin-top: 30px;

      font-family: PingFangSC-Regular, serif;
      font-size: 24px;
      color: #666666;

      .categoryItemText {
        margin-top: 18px;
      }
    }
  }

  .swiper {
    width: 100%;
    height: 366px;

    .swiperImg {
      width: 100%;
    }
  }

  .fixedHeader { //头部固定
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    //background-color: #ffa270;
    padding: 0 30px;
    align-items: center;

    background-color: transparent;
    transition: .4s;
  }

  .fixedScrollHeader {
    background-color: #e43130;
    transition: .4s;
  }

  .searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    background: #FFFFFF;
    border-radius: 30px;
    width: 544px;
    height: 60px;

    .iconImg {
      margin-left: 28px;
    }

    .vLine {
      margin-left: 12px;
      background: #DCDCDC;
      border: 1px solid #DCDCDC;
      height: 30px;
    }

    .searchInput {
      margin-left: 12px;
      font-family: PingFangSC-Regular, serif;
      font-size: 24px;
      color: #747474;
      margin-right: 28px;
    }

    .searchIcon {
      margin-left: 12px;
    }
  }

  .loginBtn {
    margin-left: 20px;
    font-family: PingFangSC-Regular, serif;
    font-size: 30px;
    color: #FFFFFF;
  }

  .toolBar { //底部工具条，也即tabBar
    box-sizing: border-box;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    z-index: 1001;
    background: #FFFFFF;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f8f8f8;
    align-items: center;
  }

  .tabBar {
    justify-content: space-around;
    padding: 10px 0;

    .tabBarImgBox {
      background: transparent;
    }
  }
}
