.goods {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 554px;

  .name {
  }

  .bottom {
    display: flex;
    flex-direction: row;

    .left{
      display: flex;
      flex-direction: row;
    }
  }
}
